.layout {
  display: grid;
  grid-template-columns: 1fr min(var(--content-max-width), 100%) 1fr;
  min-height: 100dvh;
}

.main {
  grid-column: 2;
  min-width: var(--content-min-width);
  padding: var(--space-80) 0;
}

.leftColumn {
  grid-column: 1;
  padding-right: var(--space-80);
}

.rightColumn {
  grid-column: 3;
  padding-left: var(--space-40);
}

.section {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.projectsContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-32);
  width: 100%;
}

.projectGrid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-16);
}

.placeholder {
  font-size: 32px;
  color: #999;
}

@media (max-width: 1023px) {
  .layout {
    grid-template-columns: 1fr;
    padding: 0 var(--space-40);
  }

  .main {
    grid-column: 1;
  }

  .leftColumn,
  .rightColumn {
    display: none;
  }
}
