.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-40);
  min-height: 100dvh;
  padding: var(--space-80) 0;
}

.main {
  flex: 1;
  max-width: var(--content-max-width);
  min-width: 0;
}

.placeholder {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #999;
}

@media (max-width: 1023px) {
  .layout {
    flex-direction: column;
    padding: var(--space-40);
  }
}
