.hero {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  color: var(--color-text);
}

.headline {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.intro {
  font-size: var(--font-size-h3);
  font-weight: 400;
  line-height: var(--line-height-h3);
  letter-spacing: var(--letter-spacing-h3);
}

.name {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
  line-height: var(--line-height-h1);
  letter-spacing: var(--letter-spacing-h1);
}

.tagline {
  font-size: var(--font-size-h2-hero);
  font-weight: 400;
  line-height: var(--line-height-h2-hero);
  letter-spacing: var(--letter-spacing-h2-hero);
}

.current {
  font-size: var(--font-size-h3);
  font-weight: 400;
  line-height: var(--line-height-h3);
  letter-spacing: var(--letter-spacing-h3);
}
